@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.section-padding {
    padding: 100px 0;
}


.navbar-brand {
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(75, 75, 75);
    font-weight: 400;
    letter-spacing: 3px;

}

.navbar-nav {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
}


.w-100 {
    height: 100vh;
}


.about-img {
    max-width: 100%;
}


.welcome-text-title {
    font-size: 300px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;

}

.welcome-text {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
}

.landing-contact {
    background-image:
        linear-gradient(to bottom, rgb(255, 255, 255), rgba(0, 0, 0, 0)),
        url('https://res.cloudinary.com/dnqquvrge/image/upload/v1698230666/EndlessFun/wrhjnjtstflwb8v9nils.jpg');
    background-position: center;
    width: 100%;
    height: 400px;
    background-size: cover;
    color: rgb(0, 0, 0);
    padding: 20px;
}

.contact-header {
    text-transform: uppercase;

    font-size: 22px;
    color: rgb(0, 0, 0);
}

.contact-para {
    font-size: 13px;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
}

.socials-title {
    font-weight: 600;
    letter-spacing: 3px;
}

.socials-description {
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 2px;
}

/* board-model images  */

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 250px;
    max-height: 250px;

}

.board-icon {
    transition: transform .3s ease-in-out;
}

.board-icon:hover {
    transform: rotate(-15deg);
}

.board-icon-text {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
    color: black;
    text-decoration: none;
}



.custom-order-banner {
    background-image:
        linear-gradient(to bottom, rgb(255, 255, 255), rgba(0, 0, 0, 0)),
        url('https://res.cloudinary.com/dnqquvrge/image/upload/v1698230674/EndlessFun/yldzvc7d2ob2222cbllj.jpg');
    background-position-y: 43%;
    width: 100%;
    height: 300px;
    background-size: cover;
    color: rgb(0, 0, 0);
    padding: 20px;
}

.contact-banner-header {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 3px;
    color: rgb(0, 0, 0);
}

.contact-banner-link {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/* BOARD MODELS SECTIONS */

.board-li {
    color: rgb(255, 255, 255);
    border: none;
}

.model-section-header {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.model-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.model-image {
    max-width: 100%;
    height: auto;
}

.model-description {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 2px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.model-length {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.scroll-container {
    overflow-x: auto;
    /* Enable horizontal scrolling */
    -ms-overflow-style: none;
    /* Hide scrollbar on Internet Explorer */
    scrollbar-width: none;
    /* Hide scrollbar on Firefox */
}

.scroll-container::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar on Webkit browsers */
}


.delete-board-header {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 3px;
    color: rgb(0, 0, 0);
}

.delete-board-text {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 3px;
    color: rgb(214, 0, 0);
}

/* CONTACT PAGE */

#contact-body {
    height: 100vh;

    background-image:
        url("https://res.cloudinary.com/dnqquvrge/image/upload/v1698169552/EndlessFun/ppqnutwonyeog4nu5e1q.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media (min-width: 1200px) {
    .contact-container {
        max-width: 40%;
    }
}

.contact-header-address {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.contact-header {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.card-contact-visit {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.card-contact-text {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.socials-contact-title {
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 3px;
}

.icon-link-insta {
    display: inline-block;
}

.icon-link-mail {
    display: inline-block;
}

.contact-link-contact {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 5px;
}


/* FOOTER */
footer {
    font-weight: 200;
    letter-spacing: 2px;
}