<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body id="contact-body" class="d-flex flex-column vh-100">

    <%- include('../partials/navbar') %>

        <!-- EMPTY CONTAINER FOR SPACE -->
        <div class="container text-center py-5 mt-5"></div>
        <!-- EMPTY CONTAINER FOR SPACE -->

        <section id="contact">
            <div class="container text-center">
                <div class="row">
                    <div class=" align-self-center">
                        <div class="card mx-auto mb-5" style="width: 40rem;">
                            <a target="_blank"
                                href="https://www.google.com/maps/place/Sminver,+Co.+Donegal,+F94+N990/@54.494891,-8.1874017,17z/data=!4m6!3m5!1s0x485efe105997fb3b:0x84e99df8e81ee50!8m2!3d54.4951734!4d-8.1874931!16s%2Fg%2F11c1p8bsr0?entry=ttu">
                                <img src="https://res.cloudinary.com/dnqquvrge/image/upload/v1698161067/EndlessFun/px5sftrqailzpsywg8qn.jpg"
                                    class="card-img-top" alt="...">
                            </a>
                            <div class="card-body">
                                <a target="_blank"
                                    href="https://www.google.com/maps/place/Sminver,+Co.+Donegal,+F94+N990/@54.494891,-8.1874017,17z/data=!4m6!3m5!1s0x485efe105997fb3b:0x84e99df8e81ee50!8m2!3d54.4951734!4d-8.1874931!16s%2Fg%2F11c1p8bsr0?entry=ttu"
                                    class="card-title contact-header-address mb-3">Sminver, Co. Donegal, F94
                                    N990</a>
                                <p class="card-text card-contact-visit mb-5">Please get in touch to arrange a factory
                                    visit</p>
                                <h1 class="card-title contact-header">contact</h1>
                                <p class="card-text card-contact-text mb-5">Reach out via email or instagram <br>
                                    i'd love to hear from you</p>
                                <div class="col mb-3">
                                    <a class="icon-link-mail" target="_blank"
                                        href="mailto:endlessfunsurfboards@gmail.com"
                                        style="color: inherit; text-decoration: inherit;">
                                        <i class="bi bi-envelope" style="font-size: 20px;"></i>
                                    </a>
                                    <br>
                                    <a class="contact-link-contact socials-title" target="_blank"
                                        href="mailto:endlessfunsurfboards@gmail.com"
                                        style="color: inherit; text-decoration: inherit;">
                                        endlessfunsurfboards@gmail.com</a>
                                </div>
                                <div class="col mb-3">
                                    <a class="icon-link-insta" target="_blank"
                                        href="https://www.instagram.com/endless_fun_surfboards/"
                                        style="color: inherit; text-decoration: inherit;">
                                        <i class="bi bi-instagram" style="font-size: 20px;"></i>
                                    </a>
                                    <br>
                                    <a class="contact-link-contact socials-title" target="_blank"
                                        href="https://www.instagram.com/endless_fun_surfboards/"
                                        style="color: inherit; text-decoration: inherit;">
                                        endless_fun_surfboards</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>

        <%- include('../partials/footer'); %>
</body>

</html>