<%- include('../layouts/boilerplate') %>

    <section class="landing-video">
        <video src="https://res.cloudinary.com/dnqquvrge/video/upload/v1698226402/EndlessFun/c38xep3rego6ysozxzd2.mp4"
            width="100%" height="100%" playsinline autoplay muted loop></video>
    </section>


    <!-- About Section -->

    <section id="about" class="about-section-padding mt-5 mb-5">
        <div class="container mt-5 mb-5">
            <div class="row d-flex align-items-center">
                <div class="col-lg-4 col-md-12 col-12">
                    <img src="https://res.cloudinary.com/dnqquvrge/image/upload/v1698229260/EndlessFun/lejnie0v1jrnpq1yr91r.png"
                        alt="" class="about-img img-fluid py-5 mt-5">
                </div>
                <div class="col-lg-8 col-md-12 col-12 ps-lg-5 md-5">
                    <div class="welcome-text-title container text-center mt-5">
                        <h2>100% hand shaped alternative crafts</h2>
                    </div>
                    <br>
                    <div class="welcome-text container text">
                        <br>
                        <p>The desire to shape surfboards hit me hard me from day one.<br> I’m a surfboard addict.
                            <br>
                            <br>
                            In fact, I was always more interested by the boards than by the sport itself. Back then,
                            before entering the world of surfing, I would walk into my local surf shop to look at all
                            the boards on display, in awe of the actual object, feeling the curves, the nuances and
                            their finish.
                            <br>
                            <br>
                            Before that, I had always enjoyed making things by hand with my grand-father who introduced
                            me to working with tools.
                            <br>
                            <br>
                            Later, when surfing became a part of my life, my two obsessions became standing up on a wave
                            and being able to build my own surfboards.
                            <br>
                            <br>
                            Ireland then became home, its people, landscape and waves inspired and allowed me to grow as
                            a shaper.
                            <br>
                            <br>
                            I’m self-taught and truly passionate about shaping history. Heavily inspired by the iconic
                            shapers who came before, I want to continue the tradition and art of handmade surfboards.
                            <br>
                            <br>
                            I am obsessed with twin and single fin board and how to ride them. I find nothing brings
                            more joy to a surfer than exploring diverse outlines.
                            <br>
                            <br>
                            I’m truly thankful for the opportunity to do what I love and create sculptures by hand every
                            day. It’s been a lifelong dream and I don't see myself stopping any time soon..
                            <br>
                            <br>
                            -Baptiste
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="landing-contact">
        <div class="container text-center mt-5 mb-4">

            <div class="row align-items-center">
                <div class="row mt-5">
                    <div class="col-md-12">
                        <div class=" text-center pb-5">
                            <h2 class="contact-header">Give us a shout</h2>
                            <a class="contact-link" href="/contact" style="color: inherit; text-decoration: inherit;">
                                "I'll get back to you" - shapers</a>
                        </div>

                    </div>
                </div>

                <div class="col">
                    <a class="icon-link" target="_blank" href="https://www.instagram.com/endless_fun_surfboards/"
                        style="color: inherit; text-decoration: inherit;">
                        <i class="bi bi-instagram" style="font-size: 30px;"></i>
                    </a>
                    <br>
                    <a class="contact-link socials-title" target="_blank"
                        href="https://www.instagram.com/endless_fun_surfboards/"
                        style="color: inherit; text-decoration: inherit;">
                        endless_fun_surfboards</a>
                </div>

                <div class="col">
                    <a class="icon-link" target="_blank" href="mailto:endlessfunsurfboards@gmail.com"
                        style="color: inherit; text-decoration: inherit;">
                        <i class=" bi bi-envelope" style="font-size: 32px;"></i>
                    </a>
                    <br>
                    <a class="socials-title" target="_blank" href="mailto:endlessfunsurfboards@gmail.com"
                        style="color: inherit; text-decoration: inherit;">endlessfunsurfboards@gmail.com</a>

                </div>
            </div>
        </div>
        </div>
    </section>

    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/9418365.js"></script>
    <!-- End of HubSpot Embed Code -->

    <%- include('../partials/footer'); %>