<%- include('../layouts/boilerplate') %>

    <section class="landing-video">
        <video src="https://res.cloudinary.com/dnqquvrge/video/upload/v1698226402/EndlessFun/c38xep3rego6ysozxzd2.mp4"
            width="100%" height="100%" playsinline autoplay muted loop></video>
    </section>

    <!-- https://vimeo.com/491555541 ../media/Landing_Video.mp4-->

    <!-- About Section -->

    <section id="about" class="about-section-padding mt-5 mb-5">
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-12">
                    <div class="about-img">
                        <img src="https://res.cloudinary.com/dnqquvrge/image/upload/v1698229260/EndlessFun/lejnie0v1jrnpq1yr91r.png"
                            alt="" class="img-fluid">
                    </div>
                </div>

                <div class="col-lg-8 col-md-12 col-12 ps-lg-5 md-5">
                    <div class="welcome-text-title container text-center mt-5">
                        <h2>100% hand shaped alternative crafts</h2>
                    </div>
                    <br>
                    <div class="welcome-text container text-center">
                        <p>Made by Baptiste Taffet in the North West of Ireland</p>
                        <br>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab culpa eos tempora debitis,
                            quam,
                            deleniti quaerat odit atque, iure mollitia accusantium nostrum. Eos consequuntur
                            consectetur
                            dolorem molestiae ex nemo vel?</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- 
IMG FOR THE LANDING PAGE CONTACT INFO!!!!!

Current work around to serve static file from the public directory on CSS. Will update to CSS when
images are hosted online -->




    <section class="landing-contact">
        <div class="container text-center mt-5 mb-4">

            <div class="row align-items-center">
                <div class="row mt-5">
                    <div class="col-md-12">
                        <div class=" text-center pb-5">
                            <h2 class="contact-header">Give us a shout</h2>
                            <a class="contact-link" href="/contact" style="color: inherit; text-decoration: inherit;">
                                "I'll get back to you" - shapers</a>
                        </div>

                    </div>
                </div>

                <div class="col">
                    <a class="icon-link" target="_blank" href="https://www.instagram.com/endless_fun_surfboards/"
                        style="color: inherit; text-decoration: inherit;">
                        <i class="bi bi-instagram" style="font-size: 30px;"></i>
                    </a>
                    <br>
                    <a class="contact-link socials-title" target="_blank"
                        href="https://www.instagram.com/endless_fun_surfboards/"
                        style="color: inherit; text-decoration: inherit;">
                        endless_fun_surfboards</a>
                </div>

                <div class="col">
                    <a class="icon-link" target="_blank" href="mailto:endlessfunsurfboards@gmail.com"
                        style="color: inherit; text-decoration: inherit;">
                        <i class=" bi bi-envelope" style="font-size: 32px;"></i>
                    </a>
                    <br>
                    <a class="socials-title" target="_blank" href="mailto:endlessfunsurfboards@gmail.com"
                        style="color: inherit; text-decoration: inherit;">endlessfunsurfboards@gmail.com</a>

                </div>
            </div>
        </div>
        </div>
    </section>

    <%- include('../partials/footer'); %>